#title
{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
#head
{
    font-size: 30px;
    font-weight: bold;
}
#body{margin-bottom: 20px;}
#body>*
{
    display: flex;
    
}

#body>div>div
{
    margin-left: auto;
}

#foot
{
    text-align: end;
}

img{
    width: 300px;
}