body
{
    display: flex;
   flex-direction: column;
   margin-left: 10px;
}

body>div
{
    width:fit-content ;
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
